<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<!-- Used only when remote-hostd runs with the polkit option: `blackroom enable` then needs a local, active
     session of the owner. Closing remote access (disable, revoke-all) never asks polkit. -->
<policyconfig>
  <vendor>Blackroom Console</vendor>
  <action id="org.blackroom.console.enable-remote-access">
    <description>Re-open Blackroom Console remote access</description>
    <message>Authentication is required to re-open remote access to this computer</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
  <action id="org.blackroom.console.grant-input">
    <description>Allow Blackroom Console to block this laptop's keyboard and touchpad during a remote session</description>
    <message>Authentication is required to let Blackroom Console block this laptop's built-in keyboard and touchpad</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_self_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/sbin/blackroom-grant-input</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
